{% extends "librarian/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2><b>Messages</b></h2></div>
              </div>
          </div>
          <div class="row">
            <!--Delete all button-->
            <div class="col m-1">

                <button type="submit" class="btn btn-danger"><a style="color:white;" href="{% url 'Messages_delete' %}">Delete all</a></button>

            </div>
            <!--Add new Product-->
            <div class="col m-1">
               <a href="{% url 'Message_create' %}"> <button type="submit" class="btn btn-primary">Add Message</button></a>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th scope="col">Subjects</th>
                      <th scope="col">School</th>
                      <th scope="col">Status</th>
                      <th scope="col">Date Posted</th>
                      <th scope="col">Posted By</th>
                      <th scope="col"> Action</th>
                  </tr>
              </thead>
              <tbody>
                {% for Message in  Messages  %}
                <tr>
                  <th>{{ Message.subject_combinations}}</th>
                  <td scope="row">{{ Message.school }}</td>
                  <td scope="col">{{ Message.status }}</td>
                  <td scope="col">{{ Message.date_posted }}</td>
                  <td scope="col">{{ Message.posted_by }}</td>
                  <td>
                    <a href="{% url 'Message_detail' Message.pk %}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i>View</a>
                    <a href="{% url 'Message_update' Message.pk %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i>Edit</a>
                    <a href="{% url 'Message_delete' Message.pk %}" class="delete" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE517;</i>Delete</a>
             </td>
                  <style>
                    .lin{
                      color : black;

                    }
                  </style>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>


{% endblock content %}