{% extends "Dashboard/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2><b>assignments</b> <b>Details</b></h2></div>
              </div>
          </div>
          <div class="row">
            <!--Delete all button-->
            <div class="col m-1">

                <button type="submit" class="btn btn-danger"><a style="color:white;" href="{% url 'web_admin:assignments_delete' %}">Delete all</a></button>

            </div>
            <!--Add new Product-->
            <div class="col m-1">
               <a href="{% url 'web_admin:assignment_create' %}"> <button type="submit" class="btn btn-primary">Add assignment</button></a>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Subject</th>
                      <th scope="col">date posted</th>
                      <th scope="col">Due Date</th>
                      <th scope="col"> Action</th>
                  </tr>
              </thead>
              <tbody>
                {% for assignment in  assignments  %}
                <tr>
                  <th>{{ assignment.name}}</th>
                  <td scope="row">{{ assignment.subject }}</td>
                  <td scope="col">{{ assignment.date_posted }}</td>
                  <td scope="col">{{ assignment.due_date }}</td>
                  <td>
                    <a href="{% url 'web_admin:assignment_detail' assignment.pk %}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i>View</a>
                    <a href="{% url 'web_admin:assignment_update' assignment.pk %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i>Edit</a>
                    <a href="{% url 'web_admin:assignment_delete' assignment.pk %}" class="delete" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE517;</i>Delete</a>
             </td>
                  <style>
                    .lin{
                      color : black;

                    }
                  </style>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>


{% endblock content %}