{% extends "Dashboard/base.html" %}

{% block content %}
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2><b>Payments</b> <b>Details</b></h2></div>
              </div>
          </div>
          <div class="row">
            <div class="col m-1">
            <button class="btn btn-danger"><a href="{% url 'Payments_delete'  %}" class="delete" style="color:white;">Delete All</a></button>
            </div>
            <div class="col">
               <a href="{% url 'Payment_create' %}"><button class="btn btn-primary">Add New</button></a> 
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th scope="col">Payment Method</th>
                      <th scope="col">Client</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Date</th>
                      <th scope="col"> action</th>
                      
                  </tr>
              </thead>
              <tbody>
    {% for company_Payment in company_Payments %}
    <tr>
        <td>{{ company_Payment.payment_method }}</td>
        <td scope="row">{{ company_Payment.user }}</td>
        <td scope="row">{{ company_Payment.amount }}</td>
        <td scope="row">{{ company_Payment.timestamp }}</td>
        <td>
              <a href="{% url 'Payment_detail' company_Payment.pk %}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i>View</a>
              <a href="{% url 'Payment_update' company_Payment.pk %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i>Edit</a>
              <a href="{% url 'Payment_delete' company_Payment.pk %}" class="delete" title="delete" data-toggle="tooltip"><i class="material-icons">&#xE517;</i>Delete</a>
       </td>
      </tr>
    {% endfor %}
              </tbody>
          </table>
          
      </div>
  </div>  
</div>   
{% endblock content %}