{% extends "Dashboard/base.html" %}
{% load static %}

{% block content %}
 <!--second one-->
 <div class="container ">
  <div class="col">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h3 class="card-title text-center mt-3">{{ company_Payment.user }}</h3>
          </div>
         <div>
          
          <table class="table">
            <tbody>
              <tr>
                <th>Client Name</th>
                <td><b>{{ company_Payment.user }}</b></td>
              </tr>
              <tr>
                <th>Payment Method</th>
                <td><b>{{ company_Payment.payment_method}}</b></td>
              </tr>
              <tr>
                <th>Invoice No</th>
                <td><small>{{ company_Payment.invoice }}</small></td>
              </tr>
              <tr>
                <th>amount</th>
                <td><b>{{ company_Payment.amount }}</b></td>
              </tr>
              <tr>
                <th>Date</th>
                <td>{{ company_Payment.timestamp }}</td>
              </tr>
              <tr>
                <th>Product</th>
                <td></td>
              </tr>
              
            </tbody>
          </table>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}