{% extends "webadmin/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2><b>Time table</b> <b>year</b></h2></div>
              </div>
          </div>
          <div class="row">
            <!--Delete all button-->
            <div class="col m-1">

                <button type="submit" class="btn btn-danger"><a style="color:white;" href="{% url 'web_admin:TimeTables_delete' %}">Delete all</a></button>

            </div>
            <!--Add new Product-->
            <div class="col m-1">
               <a href="{% url 'web_admin:TimeTable_create' %}"> <button type="submit" class="btn btn-primary">Add TimeTable</button></a>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Class</th>
                      <th scope="col">Teacher</th>
                      <th scope="col">subject</th>
                      <th scope="col"> Action</th>
                  </tr>
              </thead>
              <tbody>
                {% for TimeTable in  TimeTables  %}
                <tr>
                  <th scope="col">{{ TimeTable.day }}</th>
                  <td scope="col">{{ TimeTable.target_name}}</td>
                  <td scope="col">{{ TimeTable.Teacher }}</td>
                  <td scope="col">{{ TimeTable.subject }}</td>
                  <td scope="col">{{ TimeTable.day }}</td>
                  <td>
                    <a href="{% url 'web_admin:TimeTable_detail' TimeTable.pk %}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i>View</a>
                    <a href="{% url 'web_admin:TimeTable_update' TimeTable.pk %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i>Edit</a>
                    <a href="{% url 'web_admin:TimeTable_delete' TimeTable.pk %}" class="delete" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE517;</i>Delete</a>
             </td>

                </tr>


                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>


{% endblock content %}