{% extends "Dashboard/base.html" %}
{% load static %}

{% block content %}
 <!--second one-->
 <div class="container ">
  <div class="col">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img src= "{{ student.profile_picture.url }}" class="img-fluid rounded-circle" alt="Profile Image" style="width: 150px; height: 150px;">
          </div>
         <div>
          
          <h3 class="card-title text-center mt-3">{{ student.first_name }} {{ student.last_name }}</h3>
          <table class="table">
            <tbody>
              <tr>
                <th>First Name</th>
                <td><b>{{ student.first_name }}</b></td>
              </tr>
              <tr>
                <th>Middle Name</th>
                <td><b>{{ student.middle_name }}</b></td>
              </tr>
              <tr>
                <th>Last Name</th>
                <td><small>{{ student.last_name }}</small></td>
              </tr>
              <tr>
                <th>username</th>
                <td><b>{{ student.admission_number }}</b></td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{ student.status }}</td>
              </tr>
              <tr>
                <th>contact</th>
                <td>{{ student.contact }}</td>
              </tr>
              <tr>
                <th>Block</th>
                <td>{{ student.school_block }}</td>
              </tr>
              <tr>
                <th>Class</th>
                <td>{{ student.class_name }}</td>
              </tr>
            </tbody>
          </table>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}