{% extends "teacher/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2><b>Notices</b> <b>Details</b></h2></div>
              </div>
          </div>
          <div class="row">
            <!--Delete all button-->
            <div class="col m-1">

                <button type="submit" class="btn btn-danger"><a style="color:white;" href="{% url 'notices_delete' %}">Delete all</a></button>

            </div>
            <!--Add new Product-->
            <div class="col m-1">
               <a href="{% url 'notice_create' %}"> <button type="submit" class="btn btn-primary">Add a notice</button></a>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th scope="col">notice</th>
                      <th scope="col">content</th>
                      <th scope="col">date_posted</th>
                      <th scope="col">author</th>
                      <th scope="col"> Action</th>
                  </tr>
              </thead>
              <tbody>
                {% for notice in  notices  %}
                <tr>
                  <th>{{ notice.notice}}</th>
                  <td scope="row">{{ notice.content }}</td>
                  <td scope="col">{{ notice.date_posted }}</td>
                  <td scope="col">{{ notice.author }}</td>
                  <td>
                    <a href="{% url 'notice_detail' notice.pk %}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i>View</a>
                    <a href="{% url 'notice_update' notice.pk %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i>Edit</a>
                    <a href="{% url 'notice_delete' notice.pk %}" class="delete" title="delete" data-toggle="tooltip"><i class="material-icons">&#xE517;</i>Delete</a>
             </td>

                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>


{% endblock content %}